/*!
Theme Name:   Storefront
Theme URI:    https://woocommerce.com/storefront/
Author:       Automattic
Author URI:   https://woocommerce.com/
Description:  Storefront is the perfect theme for your next WooCommerce project. Designed and developed by WooCommerce Core developers, it features a bespoke integration with WooCommerce itself plus many of the most popular customer facing WooCommerce extensions. There are several layout & color options to personalise your shop, multiple widget regions, a responsive design and much more. Developers will love its lean and extensible codebase making it a joy to customize and extend. Looking for a WooCommerce theme? Look no further!
Version:      2.5.3
License:      GNU General Public License v2 or later
License URI:  https://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  storefront
Tags:         e-commerce, two-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, threaded-comments, accessibility-ready, rtl-language-support, footer-widgets, sticky-post, theme-options, editor-style

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Storefront is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer https://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/

All sizing (typography, layout, padding/margins, etc) are inspired by a modular scale that uses 1em as a base size with a 1.618 ratio.
You can read more about the calculator we use in our Sass here: https://github.com/modularscale/modularscale-sass

FontAwesome License: SIL Open Font License - http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL
Images License: GNU General Public License v2 or later
*/
/*
======
Note: Do not edit this file. If you wish to add your own CSS, go to Customizer > Additional CSS.
======
*/
/*!
 * normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css
 */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/**
 * Global styles applied to all non-woocommerce theme components. Includes styles for;
 *
 * Typography
 * Header
 * Footer
 * Main content area
 * Accessiblity helper classes
 * 404
 * Comments
 * Content (posts etc)
 * Forms
 * Media
 * Menus
 * pagination
 * Post formats
 * Widgets
 */
/**
 * Typography
 */
body {
  -ms-word-wrap: break-word;
  word-wrap: break-word; }

body,
button,
input,
textarea {
  color: #43454b;
  font-family: "Source Sans Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.618;
  text-rendering: optimizeLegibility;
  font-weight: 400; }

select {
  color: initial;
  font-family: "Source Sans Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  max-width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: 300;
  margin: 0 0 0.5407911001em;
  color: #131315; }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    font-weight: 300; }

h1,
.alpha {
  font-size: 2.617924em;
  line-height: 1.214;
  letter-spacing: -1px; }

h2,
.beta {
  font-size: 2em;
  line-height: 1.214; }
  h2 + h3,
  .beta + h3 {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding-top: 0.5407911001em; }

h3,
.gamma {
  font-size: 1.618em; }

h4,
.delta {
  font-size: 1.41575em; }

.alpha,
.beta,
.gamma,
.delta {
  display: block; }

p + h2,
p + header h2,
p + h3,
p + h4,
ul + h2,
ul + header h2,
ul + h3,
ul + h4,
ol + h2,
ol + header h2,
ol + h3,
ol + h4,
table + h2,
table + header h2,
table + h3,
table + h4,
blockquote + h2,
blockquote + header h2,
blockquote + h3,
blockquote + h4,
form + h2,
form + header h2,
form + h3,
form + h4 {
  margin-top: 2.2906835em; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin: 0 0 1.41575em; }

p {
  margin: 0 0 1.41575em; }

ul,
ol {
  margin: 0 3em 1.41575em 0;
  padding: 0; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-right: 1em; }

dt {
  font-weight: 600; }

dd {
  margin: 0 0 1.618em; }

b,
strong {
  font-weight: 600; }

dfn,
cite,
em,
i {
  font-style: italic; }

blockquote {
  padding: 0 1em;
  border-right: 3px solid rgba(0, 0, 0, 0.05);
  font-style: italic; }

address {
  margin: 0 0 1.41575em; }

pre {
  background: rgba(0, 0, 0, 0.1);
  font-family: 'Courier 10 Pitch', Courier, monospace;
  margin-bottom: 1.618em;
  padding: 1.618em;
  overflow: auto;
  max-width: 100%; }

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0.202em 0.5407911001em; }

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark,
ins {
  text-decoration: none;
  font-weight: 600;
  background: transparent; }

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  bottom: 1ex; }

sub {
  top: 0.5ex; }

small {
  font-size: 75%; }

big {
  font-size: 125%; }

figure {
  margin: 0; }

table {
  margin: 0 0 1.41575em;
  width: 100%; }

img {
  height: auto;
  max-width: 100%;
  display: block; }

a {
  color: #2c2d33;
  text-decoration: none; }

a:focus,
input:focus,
textarea:focus,
button:focus {
  outline: 2px solid #96588a; }

.storefront-cute * {
  font-family: 'Comic Sans MS', sans-serif; }

/**
 * Global styles
 */
* {
  box-sizing: border-box; }

body {
  background-color: #ffffff;
  overflow-x: hidden; }

.site {
  overflow-x: hidden; }

.site-content,
.header-widget-region {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

/**
 * Header
 */
.site-header {
  background-color: #2c2d33;
  padding-top: 1.618em;
  padding-bottom: 1.618em;
  color: #9aa0a7;
  background-position: center center;
  position: relative;
  z-index: 999;
  border-bottom: 1px solid transparent; }
  .site-header .site-logo-anchor,
  .site-header .site-logo-link,
  .site-header .custom-logo-link {
    display: block;
    margin-bottom: 0; }
    .site-header .site-logo-anchor img,
    .site-header .site-logo-link img,
    .site-header .custom-logo-link img {
      width: 100%;
      max-width: 210px; }
  .site-header .widget {
    margin-bottom: 0; }

.home.blog .site-header,
.home.page:not(.page-template-template-homepage) .site-header,
.home.post-type-archive-product .site-header {
  margin-bottom: 4.235801032em; }

.no-wc-breadcrumb .site-header {
  margin-bottom: 4.235801032em; }

.no-wc-breadcrumb.page-template-template-homepage .site-header {
  margin-bottom: 0; }

.header-widget-region {
  position: relative;
  z-index: 99; }

.site-branding {
  float: right;
  margin-bottom: 0;
  width: calc( 100% - 120px); }
  .site-branding .site-title {
    font-size: 2em;
    letter-spacing: -1px;
    margin: 0; }
    .site-branding .site-title a {
      font-weight: 700; }
  .site-branding .site-description {
    font-size: 0.875em;
    display: none; }
  .site-branding .logo {
    margin: 0; }

/**
 * Main content area
 */
.site-main {
  margin-bottom: 2.617924em; }

.site-content {
  outline: none; }

.page-template-template-homepage:not(.has-post-thumbnail) .site-main {
  padding-top: 4.235801032em; }

.page-template-template-homepage .type-page {
  padding-top: 2.617924em;
  padding-bottom: 2.617924em;
  position: relative; }
  .page-template-template-homepage .type-page .storefront-hero__button-edit {
    position: absolute;
    top: 1em;
    left: 1em;
    font-size: 0.875em; }

.page-template-template-homepage .entry-content {
  font-size: 1.1em; }
  .page-template-template-homepage .entry-content p:last-child {
    margin-bottom: 0; }

.page-template-template-homepage .entry-header h1 {
  font-size: 3.706325903em;
  margin-bottom: 0.2360828548em; }

.page-template-template-homepage .entry-content,
.page-template-template-homepage .entry-header {
  max-width: 41.0994671405em;
  margin-right: auto;
  margin-left: auto;
  text-align: center; }

.page-template-template-homepage.has-post-thumbnail .type-page.has-post-thumbnail {
  background-size: cover;
  background-position: center center;
  padding-top: 6.8535260698em;
  padding-bottom: 6.8535260698em; }
  .page-template-template-homepage.has-post-thumbnail .type-page.has-post-thumbnail .entry-content,
  .page-template-template-homepage.has-post-thumbnail .type-page.has-post-thumbnail .entry-title {
    opacity: 0;
    -webkit-transition: all, ease, 0.5s;
    transition: all, ease, 0.5s; }
    .page-template-template-homepage.has-post-thumbnail .type-page.has-post-thumbnail .entry-content.loaded,
    .page-template-template-homepage.has-post-thumbnail .type-page.has-post-thumbnail .entry-title.loaded {
      opacity: 1; }

/**
 * Footer
 */
.site-footer {
  background-color: #f3f3f3;
  color: #3b3c3f;
  padding: 1.618em 0 3.706325903em; }
  .site-footer h1,
  .site-footer h2,
  .site-footer h3,
  .site-footer h4,
  .site-footer h5,
  .site-footer h6 {
    color: #333437; }
  .site-footer a:not(.button) {
    color: #2c2d33;
    text-decoration: underline; }
    .site-footer a:not(.button):hover {
      text-decoration: none; }

.site-info {
  padding: 2.617924em 0; }
  .site-info span[role=separator] {
    padding: 0 0.3342343017em 0 0.2360828548em; }
    .site-info span[role=separator]::before {
      content: '\007c'; }

/**
 * Alignment
 */
.alignleft {
  display: inline;
  float: right;
  margin-left: 1em; }

.alignright {
  display: inline;
  float: left;
  margin-right: 1em; }

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto; }

/**
 * Accessibility
 */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  display: block;
  font-weight: bold;
  height: auto;
  right: 0;
  line-height: normal;
  padding: 1em 1.618em;
  text-decoration: none;
  top: 0;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */
  outline: none; }

/**
 * Clearing
 */
.clear::before, .clear::after,
.entry-content::before,
.entry-content::after,
.comment-content::before,
.comment-content::after,
.site-header::before,
.site-header::after,
.site-content::before,
.site-content::after,
.site-footer::before,
.site-footer::after {
  content: '';
  display: table; }

.clear::after,
.entry-content::after,
.comment-content::after,
.site-header::after,
.site-content::after,
.site-footer::after {
  clear: both; }

/**
 * Tables
 */
table {
  border-spacing: 0;
  width: 100%;
  border-collapse: separate; }
  table caption {
    padding: 1em 0;
    font-weight: 600; }
  table td,
  table th {
    padding: 1em 1.41575em;
    text-align: right;
    vertical-align: top; }
    table td p:last-child,
    table th p:last-child {
      margin-bottom: 0; }
  table th {
    font-weight: 600; }
  table thead th {
    padding: 1.41575em;
    vertical-align: middle; }
  table tbody h2 {
    font-size: 1em;
    letter-spacing: normal;
    font-weight: normal; }
    table tbody h2 a {
      font-weight: normal; }

/**
 * 404 Styles
 */
.error404 .site-content .widget_product_search {
  padding: 1.618em;
  background-color: rgba(0, 0, 0, 0.025); }
  .error404 .site-content .widget_product_search form {
    margin: 0; }

.error404.right-sidebar .content-area,
.error404.left-sidebar .content-area {
  width: 100%; }

.error404 .fourohfour-columns-2 {
  padding: 2.617924em 0;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-width: 1px 0;
  margin-bottom: 2.617924em; }
  .error404 .fourohfour-columns-2::before, .error404 .fourohfour-columns-2::after {
    content: '';
    display: table; }
  .error404 .fourohfour-columns-2::after {
    clear: both; }
  .error404 .fourohfour-columns-2 ul.products li.product,
  .error404 .fourohfour-columns-2 .widget {
    margin-bottom: 0; }
  .error404 .fourohfour-columns-2 .col-1 ul.products {
    margin-bottom: 2.2906835em; }
    .error404 .fourohfour-columns-2 .col-1 ul.products li.product {
      width: 45.4545454545%;
      float: right;
      margin-left: 9.0909090909%; }
      .error404 .fourohfour-columns-2 .col-1 ul.products li.product:last-child {
        margin-left: 0; }
  .error404 .fourohfour-columns-2 .col-2 {
    padding: 1.618em;
    background-color: rgba(0, 0, 0, 0.025); }

/**
 * Comments
 */
#comments {
  padding-top: 2.617924em; }
  #comments .comments-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding-bottom: 0.5407911001em;
    margin-bottom: 1.618em; }
  #comments .comment-list {
    list-style: none;
    margin-right: 0; }
    #comments .comment-list .comment-body::before, #comments .comment-list .comment-body::after {
      content: '';
      display: table; }
    #comments .comment-list .comment-body::after {
      clear: both; }
    #comments .comment-list .comment-content {
      padding-bottom: 1.618em;
      margin-bottom: 1.618em; }
      #comments .comment-list .comment-content .comment-text {
        padding: 1.618em;
        border-radius: 3px; }
        #comments .comment-list .comment-content .comment-text p:last-child {
          margin-bottom: 0; }
    #comments .comment-list .comment-meta {
      margin-bottom: 1em; }
      #comments .comment-list .comment-meta .avatar {
        margin-bottom: 1em;
        max-width: 64px;
        height: auto; }
      #comments .comment-list .comment-meta a.comment-date {
        font-size: 0.875em; }
      #comments .comment-list .comment-meta cite {
        font-style: normal;
        clear: both;
        display: block; }
    #comments .comment-list .reply {
      margin-bottom: 1.618em;
      padding-top: 0.6180469716em; }
      #comments .comment-list .reply::before, #comments .comment-list .reply::after {
        content: '';
        display: table; }
      #comments .comment-list .reply::after {
        clear: both; }
      #comments .comment-list .reply a {
        display: inline-block;
        margin-left: 1em; }
        #comments .comment-list .reply a:last-child {
          margin-left: 0; }
    #comments .comment-list .children {
      list-style: none; }

.comment-content a {
  word-wrap: break-word; }

#respond {
  clear: both;
  padding: 1.618em;
  background-color: rgba(0, 0, 0, 0.0125);
  position: relative; }
  #respond .comment-form-author input,
  #respond .comment-form-email input,
  #respond .comment-form-url input {
    width: 100%; }
  #respond .form-submit,
  #respond form {
    margin-bottom: 0; }
  #respond #cancel-comment-reply-link {
    position: absolute;
    top: 0.5407911001em;
    left: 0.5407911001em;
    display: block;
    height: 1em;
    width: 1em;
    overflow: hidden;
    line-height: 1;
    font-size: 1.41575em;
    text-align: center;
    -webkit-transition: ease, 0.3s, -webkit-transform;
    transition: ease, 0.3s, -webkit-transform;
    transition: transform, ease, 0.3s;
    transition: transform, ease, 0.3s, -webkit-transform; }
    #respond #cancel-comment-reply-link:hover {
      -webkit-transform: scale(1.3);
          -ms-transform: scale(1.3);
              transform: scale(1.3); }

/**
 * Content
 */
.hentry {
  margin: 0 0 4.235801032em; }
  .hentry .wp-post-image {
    margin-bottom: 1.618em;
    margin-right: auto;
    margin-left: auto; }
  .hentry .entry-header {
    margin-bottom: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
    .hentry .entry-header .posted-on,
    .hentry .entry-header .post-author,
    .hentry .entry-header .post-comments,
    .hentry .entry-header .byline {
      font-size: 0.875em; }
      .hentry .entry-header .posted-on a,
      .hentry .entry-header .post-author a,
      .hentry .entry-header .post-comments a,
      .hentry .entry-header .byline a {
        font-weight: 600;
        text-decoration: underline; }
        .hentry .entry-header .posted-on a:hover,
        .hentry .entry-header .post-author a:hover,
        .hentry .entry-header .post-comments a:hover,
        .hentry .entry-header .byline a:hover {
          text-decoration: none; }
  .hentry .entry-content a:not(.button) {
    text-decoration: underline; }
    .hentry .entry-content a:not(.button):hover {
      text-decoration: none; }
  .hentry .entry-taxonomy {
    margin: 1.41575em 0 0;
    padding-top: 1em;
    border-top: 1px solid rgba(0, 0, 0, 0.05); }
  .hentry.type-page .entry-header {
    border-bottom: 0;
    margin-bottom: 0; }

.cat-links,
.tags-links {
  font-size: 0.875em; }
  .cat-links a,
  .tags-links a {
    color: #727272;
    font-weight: 600;
    text-decoration: underline; }

.byline,
.updated:not(.published) {
  display: none; }

.single .byline, .group-blog .byline {
  display: inline; }

.page-links {
  clear: both;
  margin: 0 0 1em; }

/**
 * Forms
 */
form {
  margin-bottom: 1.618em; }

button,
input,
select,
textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
  /* stylelint-disable */
  *vertical-align: middle;
  /* Improves appearance and consistency in all browsers */
  /* stylelint-enable */ }

/* Override gutenberg styles. */
.wp-block-button__link {
  border-radius: 0 !important; }

button,
input[type='button'],
input[type='reset'],
input[type='submit'],
.button,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link,
.added_to_cart {
  border: 0;
  border-radius: 0;
  background: none;
  background-color: #43454b;
  border-color: #43454b;
  color: #fff;
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  padding: 0.6180469716em 1.41575em;
  text-decoration: none;
  font-weight: 600;
  text-shadow: none;
  display: inline-block;
  -webkit-appearance: none; }
  button::after,
  input[type='button']::after,
  input[type='reset']::after,
  input[type='submit']::after,
  .button::after,
  .wc-block-grid__products .wc-block-grid__product .wp-block-button__link::after,
  .added_to_cart::after {
    display: none; }
  button.cta, button.alt,
  input[type='button'].cta,
  input[type='button'].alt,
  input[type='reset'].cta,
  input[type='reset'].alt,
  input[type='submit'].cta,
  input[type='submit'].alt,
  .button.cta,
  .button.alt,
  .wc-block-grid__products .wc-block-grid__product .wp-block-button__link.cta,
  .wc-block-grid__products .wc-block-grid__product .wp-block-button__link.alt,
  .added_to_cart.cta,
  .added_to_cart.alt {
    background-color: #2c2d33;
    border-color: #2c2d33; }
    button.cta:hover, button.alt:hover,
    input[type='button'].cta:hover,
    input[type='button'].alt:hover,
    input[type='reset'].cta:hover,
    input[type='reset'].alt:hover,
    input[type='submit'].cta:hover,
    input[type='submit'].alt:hover,
    .button.cta:hover,
    .button.alt:hover,
    .wc-block-grid__products .wc-block-grid__product .wp-block-button__link.cta:hover,
    .wc-block-grid__products .wc-block-grid__product .wp-block-button__link.alt:hover,
    .added_to_cart.cta:hover,
    .added_to_cart.alt:hover {
      background-color: #2c2d33; }
  button:hover,
  input[type='button']:hover,
  input[type='reset']:hover,
  input[type='submit']:hover,
  .button:hover,
  .wc-block-grid__products .wc-block-grid__product .wp-block-button__link:hover,
  .added_to_cart:hover {
    color: #fff; }
  button.loading,
  input[type='button'].loading,
  input[type='reset'].loading,
  input[type='submit'].loading,
  .button.loading,
  .wc-block-grid__products .wc-block-grid__product .wp-block-button__link.loading,
  .added_to_cart.loading {
    opacity: 0.5; }
  button.small,
  input[type='button'].small,
  input[type='reset'].small,
  input[type='submit'].small,
  .button.small,
  .wc-block-grid__products .wc-block-grid__product .wp-block-button__link.small,
  .added_to_cart.small {
    padding: 0.5407911001em 0.875em;
    font-size: 0.875em; }
  button.disabled, button:disabled,
  input[type='button'].disabled,
  input[type='button']:disabled,
  input[type='reset'].disabled,
  input[type='reset']:disabled,
  input[type='submit'].disabled,
  input[type='submit']:disabled,
  .button.disabled,
  .button:disabled,
  .wc-block-grid__products .wc-block-grid__product .wp-block-button__link.disabled,
  .wc-block-grid__products .wc-block-grid__product .wp-block-button__link:disabled,
  .added_to_cart.disabled,
  .added_to_cart:disabled {
    opacity: 0.5 !important;
    cursor: not-allowed; }
    button.disabled:hover, button:disabled:hover,
    input[type='button'].disabled:hover,
    input[type='button']:disabled:hover,
    input[type='reset'].disabled:hover,
    input[type='reset']:disabled:hover,
    input[type='submit'].disabled:hover,
    input[type='submit']:disabled:hover,
    .button.disabled:hover,
    .button:disabled:hover,
    .wc-block-grid__products .wc-block-grid__product .wp-block-button__link.disabled:hover,
    .wc-block-grid__products .wc-block-grid__product .wp-block-button__link:disabled:hover,
    .added_to_cart.disabled:hover,
    .added_to_cart:disabled:hover {
      opacity: 0.5 !important; }

input[type='checkbox'],
input[type='radio'] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */ }
  input[type='checkbox'] + label,
  input[type='radio'] + label {
    margin: 0 0.3819820591em 0 0; }

input[type='search']::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none; }

input[type='search'] {
  box-sizing: border-box; }
  input[type='search']::-webkit-input-placeholder {
    color: #616161; }
  input[type='search']:-ms-input-placeholder {
    color: #616161; }
  input[type='search']::-ms-input-placeholder {
    color: #616161; }
  input[type='search']::placeholder {
    color: #616161; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0; }

input[type='text'],
input[type='number'],
input[type='email'],
input[type='tel'],
input[type='url'],
input[type='password'],
input[type='search'],
textarea,
.input-text {
  padding: 0.6180469716em;
  background-color: #f2f2f2;
  color: #43454b;
  border: 0;
  -webkit-appearance: none;
  box-sizing: border-box;
  font-weight: normal;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.125); }
  input[type='text']:focus,
  input[type='number']:focus,
  input[type='email']:focus,
  input[type='tel']:focus,
  input[type='url']:focus,
  input[type='password']:focus,
  input[type='search']:focus,
  textarea:focus,
  .input-text:focus {
    background-color: #ededed; }

textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-right: 0.875em;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 100%; }

label {
  font-weight: 400; }

label.inline input {
  width: auto; }

fieldset {
  padding: 1.618em;
  padding-top: 1em;
  border: 0;
  margin: 0;
  margin-bottom: 1.618em;
  margin-top: 1.618em; }
  fieldset legend {
    font-weight: 600;
    padding: 0.6180469716em 1em;
    margin-right: -1em; }

[placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.5s 0.5s ease;
  transition: opacity 0.5s 0.5s ease;
  opacity: 0; }

/**
 * Media
 */
img {
  border-radius: 3px; }

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  display: inline-block;
  border-radius: 0; }

/**
 * Captions
 */
.wp-caption {
  margin-bottom: 1em;
  max-width: 100%; }
  .wp-caption img[class*='wp-image-'] {
    display: block;
    margin: 0 auto; }
  .wp-caption .wp-caption-text {
    text-align: right;
    font-style: italic;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    padding: 1em 0; }

/**
 * Galleries
 */
.gallery {
  margin-bottom: 1em; }
  .gallery::before, .gallery::after {
    content: '';
    display: table; }
  .gallery::after {
    clear: both; }
  .gallery .gallery-item {
    float: right; }
    .gallery .gallery-item .gallery-icon a {
      display: block; }
    .gallery .gallery-item .gallery-icon img {
      border: none;
      height: auto;
      margin: 0 auto; }
    .gallery .gallery-item .gallery-caption {
      margin: 0;
      text-align: center; }
  .gallery.gallery-columns-1 .gallery-item {
    width: 100%; }
  .gallery.gallery-columns-2 .gallery-item {
    width: 50%; }
  .gallery.gallery-columns-3 .gallery-item {
    width: 33.3%; }
  .gallery.gallery-columns-4 .gallery-item {
    width: 25%; }
  .gallery.gallery-columns-5 .gallery-item {
    width: 20%; }
  .gallery.gallery-columns-6 .gallery-item {
    width: 16.666666667%; }
  .gallery.gallery-columns-7 .gallery-item {
    width: 14.285714286%; }
  .gallery.gallery-columns-8 .gallery-item {
    width: 12.5%; }
  .gallery.gallery-columns-9 .gallery-item {
    width: 11.111111111%; }

/**
 * Embeds
 */
embed,
iframe,
object,
video {
  max-width: 100%; }

/**
 * Main Naivgation
 */
/**
 * General Menu Styles
 */
.secondary-navigation {
  display: none; }

button.menu-toggle {
  cursor: pointer;
  text-align: right;
  float: left;
  position: relative;
  border: 2px solid transparent;
  box-shadow: none;
  border-radius: 2px;
  background-image: none;
  padding: 0.6180469716em 2.617924em 0.6180469716em 0.875em;
  font-size: 0.875em;
  max-width: 120px; }
  button.menu-toggle:hover {
    background-image: none; }
  button.menu-toggle span::before {
    -webkit-transition: all, ease, 0.2s;
    transition: all, ease, 0.2s; }
  button.menu-toggle::before, button.menu-toggle::after,
  button.menu-toggle span::before {
    content: '';
    display: block;
    height: 2px;
    width: 14px;
    position: absolute;
    top: 50%;
    right: 1em;
    margin-top: -1px;
    -webkit-transition: all, ease, 0.2s;
    transition: all, ease, 0.2s;
    border-radius: 3px; }
  button.menu-toggle::before {
    -webkit-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
            transform: translateY(-4px); }
  button.menu-toggle::after {
    -webkit-transform: translateY(4px);
        -ms-transform: translateY(4px);
            transform: translateY(4px); }

.toggled button.menu-toggle::before, .toggled button.menu-toggle::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.toggled button.menu-toggle::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.toggled button.menu-toggle span::before {
  opacity: 0; }

.primary-navigation {
  display: none; }

.main-navigation::before, .main-navigation::after {
  content: '';
  display: table; }

.main-navigation::after {
  clear: both; }

.main-navigation div.menu {
  display: none; }

.main-navigation div.menu:last-child {
  display: block; }

.main-navigation .menu {
  clear: both; }

.handheld-navigation,
.nav-menu,
.main-navigation div.menu > ul:not(.nav-menu) {
  overflow: hidden;
  max-height: 0;
  /* We have to use max-height because `height` isn't animatable */
  -webkit-transition: all, ease, 0.8s;
  transition: all, ease, 0.8s; }

.handheld-navigation {
  clear: both; }
  .handheld-navigation ul {
    margin: 0; }
    .handheld-navigation ul.menu li {
      position: relative; }
      .handheld-navigation ul.menu li button::after {
        -webkit-transition: all, ease, 0.9s;
        transition: all, ease, 0.9s; }
      .handheld-navigation ul.menu li button.toggled-on::after {
        -webkit-transform: rotate(-180deg);
            -ms-transform: rotate(-180deg);
                transform: rotate(-180deg); }
    .handheld-navigation ul.menu .sub-menu {
      visibility: hidden;
      opacity: 0;
      max-height: 0;
      -webkit-transition: all, ease, 0.9s;
      transition: all, ease, 0.9s; }
      .handheld-navigation ul.menu .sub-menu.toggled-on {
        visibility: visible;
        max-height: 9999px;
        opacity: 1; }
  .handheld-navigation .dropdown-toggle {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    display: block; }

.main-navigation.toggled .handheld-navigation,
.main-navigation.toggled .menu > ul:not(.nav-menu),
.main-navigation.toggled ul[aria-expanded=true] {
  max-height: 9999px; }

.main-navigation ul {
  margin-right: 0;
  list-style: none;
  margin-bottom: 0; }
  .main-navigation ul ul {
    display: block;
    margin-right: 1.41575em; }
  .main-navigation ul li a {
    padding: 0.875em 0;
    display: block; }
    .main-navigation ul li a:hover {
      color: #e6e6e6; }

/**
 * Pagination
 */
.site-main nav.navigation {
  clear: both;
  padding: 2.617924em 0; }
  .site-main nav.navigation::before, .site-main nav.navigation::after {
    content: '';
    display: table; }
  .site-main nav.navigation::after {
    clear: both; }
  .site-main nav.navigation .nav-previous a,
  .site-main nav.navigation .nav-next a {
    display: inline-block; }
  .site-main nav.navigation .nav-previous {
    float: right;
    width: 50%; }
  .site-main nav.navigation .nav-next {
    float: left;
    text-align: left;
    width: 50%; }

/**
 * Pagination
 */
.pagination,
.woocommerce-pagination {
  padding: 1em 0;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-width: 1px 0;
  text-align: center;
  clear: both; }
  .pagination ul.page-numbers::before, .pagination ul.page-numbers::after,
  .woocommerce-pagination ul.page-numbers::before,
  .woocommerce-pagination ul.page-numbers::after {
    content: '';
    display: table; }
  .pagination ul.page-numbers::after,
  .woocommerce-pagination ul.page-numbers::after {
    clear: both; }
  .pagination .page-numbers,
  .woocommerce-pagination .page-numbers {
    list-style: none;
    margin: 0; }
    .pagination .page-numbers li,
    .woocommerce-pagination .page-numbers li {
      display: inline-block; }
      .pagination .page-numbers li .page-numbers,
      .woocommerce-pagination .page-numbers li .page-numbers {
        border-right-width: 0;
        display: inline-block;
        padding: 0.3342343017em 0.875em;
        background-color: rgba(0, 0, 0, 0.025);
        color: #43454b; }
        .pagination .page-numbers li .page-numbers.current,
        .woocommerce-pagination .page-numbers li .page-numbers.current {
          background-color: #2c2d33;
          border-color: #2c2d33; }
        .pagination .page-numbers li .page-numbers.dots,
        .woocommerce-pagination .page-numbers li .page-numbers.dots {
          background-color: transparent; }
        .pagination .page-numbers li .page-numbers.prev, .pagination .page-numbers li .page-numbers.next,
        .woocommerce-pagination .page-numbers li .page-numbers.prev,
        .woocommerce-pagination .page-numbers li .page-numbers.next {
          padding-right: 1em;
          padding-left: 1em; }
      .pagination .page-numbers li a.page-numbers:hover,
      .woocommerce-pagination .page-numbers li a.page-numbers:hover {
        background-color: rgba(0, 0, 0, 0.05); }

.rtl .pagination a.next,
.rtl .pagination a.prev,
.rtl .woocommerce-pagination a.next,
.rtl .woocommerce-pagination a.prev {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg); }

/**
 * Widgets
 */
.widget {
  margin: 0 0 3.706325903em; }
  .widget select {
    max-width: 100%; }
  .widget .widget-search .search-submit {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important; }
  .widget .widget-title,
  .widget .widgettitle {
    font-size: 1.41575em;
    letter-spacing: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 0 0 1em;
    margin-bottom: 1em;
    font-weight: 300; }
  .widget ul {
    margin-right: 0;
    list-style: none; }
    .widget ul ul {
      margin-right: 1.618em; }

.widget-area .widget {
  font-weight: 400; }
  .widget-area .widget a.button {
    font-weight: 600 !important; }

.header-widget-region::before, .header-widget-region::after {
  content: '';
  display: table; }

.header-widget-region::after {
  clear: both; }

.header-widget-region .widget {
  margin: 0;
  padding: 1em 0;
  font-size: 0.875em; }

.widget_search form,
.widget_product_search form {
  position: relative; }
  .widget_search form input[type=text],
  .widget_search form input[type=search],
  .widget_product_search form input[type=text],
  .widget_product_search form input[type=search] {
    width: 100%; }
  .widget_search form input[type=submit],
  .widget_search form button[type=submit],
  .widget_product_search form input[type=submit],
  .widget_product_search form button[type=submit] {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
    top: 0;
    right: 0; }

.widget_recent_entries ul,
.widget_pages ul,
.widget_categories ul,
.widget_archive ul,
.widget_recent_comments ul,
.widget_nav_menu ul,
.widget_links ul,
.widget_product_categories ul,
.widget_layered_nav ul,
.widget_layered_nav_filters ul {
  margin: 0; }
  .widget_recent_entries ul li,
  .widget_pages ul li,
  .widget_categories ul li,
  .widget_archive ul li,
  .widget_recent_comments ul li,
  .widget_nav_menu ul li,
  .widget_links ul li,
  .widget_product_categories ul li,
  .widget_layered_nav ul li,
  .widget_layered_nav_filters ul li {
    list-style: none;
    margin-bottom: 1em;
    line-height: 1.41575em; }
  .widget_recent_entries ul .children,
  .widget_pages ul .children,
  .widget_categories ul .children,
  .widget_archive ul .children,
  .widget_recent_comments ul .children,
  .widget_nav_menu ul .children,
  .widget_links ul .children,
  .widget_product_categories ul .children,
  .widget_layered_nav ul .children,
  .widget_layered_nav_filters ul .children {
    margin-top: 0.6180469716em;
    margin-right: 1.618em; }
  .widget_recent_entries ul .children,
  .widget_pages ul .children,
  .widget_categories ul .children,
  .widget_archive ul .children,
  .widget_recent_comments ul .children,
  .widget_nav_menu ul .children,
  .widget_links ul .children,
  .widget_product_categories ul .children,
  .widget_layered_nav ul .children,
  .widget_layered_nav_filters ul .children {
    margin-right: 0;
    margin-top: 1em; }

.widget-area #wp-calendar th,
.widget-area #wp-calendar td,
.footer-widgets #wp-calendar th,
.footer-widgets #wp-calendar td {
  padding: 0.236em;
  text-align: center; }

.widget_recent_entries ul ul.children,
.widget_pages ul ul.children {
  margin: 0.6180469716em 1.41575em 0 0; }

.widget_rating_filter .wc-layered-nav-rating {
  margin-bottom: 0.6180469716em; }
  .widget_rating_filter .wc-layered-nav-rating a {
    text-decoration: none !important; }
  .widget_rating_filter .wc-layered-nav-rating .star-rating {
    display: inline-block;
    height: 1em;
    line-height: 1; }

.widget-area .widget {
  font-size: 0.875em; }
  .widget-area .widget h1.widget-title {
    font-size: 1.41575em; }
  .widget-area .widget a:not(.button) {
    font-weight: 600;
    text-decoration: underline; }
    .widget-area .widget a:not(.button):hover {
      text-decoration: none; }

/**
 * Strictly Layout Styles
 */
@media (min-width: 768px) {
  table.shop_table_responsive tbody tr td,
  table.shop_table_responsive tbody tr th {
    text-align: right; }
  .site-header {
    padding-top: 2.617924em;
    padding-bottom: 0; }
    .site-header .site-branding {
      display: block;
      width: 100%;
      float: right;
      margin-right: 0;
      margin-left: 0;
      clear: both; }
      .site-header .site-branding img {
        height: auto;
        max-width: 230px;
        max-height: none; }
  .woocommerce-active .site-header .site-branding {
    width: 73.9130434783%;
    float: right;
    margin-left: 4.347826087%; }
  .woocommerce-active .site-header .site-search {
    width: 21.7391304348%;
    float: left;
    margin-left: 0;
    clear: none; }
  .woocommerce-active .site-header .main-navigation {
    width: 73.9130434783%;
    float: right;
    margin-left: 4.347826087%;
    clear: both; }
  .woocommerce-active .site-header .site-header-cart {
    width: 21.7391304348%;
    float: left;
    margin-left: 0;
    margin-bottom: 0; }
  .storefront-secondary-navigation .site-header .site-branding {
    width: 39.1304347826%;
    float: right;
    margin-left: 4.347826087%; }
  .storefront-secondary-navigation .site-header .secondary-navigation {
    width: 56.5217391304%;
    float: left;
    margin-left: 0; }
  .storefront-secondary-navigation.woocommerce-active .site-header .site-branding {
    width: 21.7391304348%;
    float: right;
    margin-left: 4.347826087%; }
  .storefront-secondary-navigation.woocommerce-active .site-header .secondary-navigation {
    width: 47.8260869565%;
    float: right;
    margin-left: 4.347826087%; }
  .site-branding .site-description {
    margin-bottom: 0;
    display: block; }
  .site-branding,
  .site-search,
  .site-header-cart,
  .site-logo-anchor,
  .site-logo-link,
  .custom-logo-link {
    margin-bottom: 1.41575em; }
  .site-header .subscribe-and-connect-connect {
    float: left;
    margin-bottom: 1em; }
    .site-header .subscribe-and-connect-connect .icons {
      list-style: none;
      margin: 0; }
      .site-header .subscribe-and-connect-connect .icons a {
        font-size: 1em !important; }
      .site-header .subscribe-and-connect-connect .icons li {
        margin: 0 0.5407911001em 0 0 !important;
        display: inline-block; }
  .col-full {
    max-width: 66.4989378333em;
    margin-right: auto;
    margin-left: auto;
    padding: 0 2.617924em;
    box-sizing: content-box; }
    .col-full::before, .col-full::after {
      content: '';
      display: table; }
    .col-full::after {
      clear: both; }
    .col-full:after {
      content: " ";
      display: block;
      clear: both; }
  .site-content::before, .site-content::after {
    content: '';
    display: table; }
  .site-content::after {
    clear: both; }
  .content-area {
    width: 73.9130434783%;
    float: right;
    margin-left: 4.347826087%; }
  .widget-area {
    width: 21.7391304348%;
    float: left;
    margin-left: 0; }
  .right-sidebar .content-area {
    width: 73.9130434783%;
    float: right;
    margin-left: 4.347826087%; }
  .right-sidebar .widget-area {
    width: 21.7391304348%;
    float: left;
    margin-left: 0; }
  .left-sidebar .content-area {
    width: 73.9130434783%;
    float: left;
    margin-left: 0; }
  .left-sidebar .widget-area {
    width: 21.7391304348%;
    float: right;
    margin-left: 4.347826087%; }
  .storefront-full-width-content .content-area {
    width: 100%;
    float: right;
    margin-right: 0;
    margin-left: 0; }
  .content-area,
  .widget-area {
    margin-bottom: 2.617924em; }
  /**
	 * Full width & homepage template
	 */
  .page-template-template-fullwidth-php .content-area,
  .page-template-template-homepage-php .content-area {
    width: 100%;
    float: right;
    margin-right: 0;
    margin-left: 0; }
  /**
	 * Footer widgets
	 */
  .footer-widgets {
    padding-top: 4.235801032em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
    .footer-widgets::before, .footer-widgets::after {
      content: '';
      display: table; }
    .footer-widgets::after {
      clear: both; }
    .footer-widgets.col-2 .block {
      width: 47.8260869565%;
      float: right;
      margin-left: 4.347826087%; }
      .footer-widgets.col-2 .block.footer-widget-2 {
        float: left;
        margin-left: 0; }
    .footer-widgets.col-3 .block {
      width: 30.4347826087%;
      float: right;
      margin-left: 4.347826087%; }
      .footer-widgets.col-3 .block.footer-widget-3 {
        float: left;
        margin-left: 0; }
    .footer-widgets.col-4 .block {
      width: 21.7391304348%;
      float: right;
      margin-left: 4.347826087%; }
      .footer-widgets.col-4 .block.footer-widget-4 {
        float: left;
        margin-left: 0; }
  /**
	 * Comments
	 */
  .comment-list::before, .comment-list::after {
    content: '';
    display: table; }
  .comment-list::after {
    clear: both; }
  .comment-list .comment {
    clear: both; }
  .comment-list .comment-meta {
    width: 17.6470588235%;
    float: right;
    margin-left: 5.8823529412%;
    text-align: left; }
    .comment-list .comment-meta .avatar {
      float: left; }
  .comment-list .comment-content {
    padding-bottom: 3.706325903em;
    margin-bottom: 3.706325903em; }
  .comment-list .comment-content,
  .comment-list #respond {
    width: 76.4705882353%;
    float: left;
    margin-left: 0; }
  .comment-list #respond {
    float: left; }
    .comment-list #respond .comment-form-author,
    .comment-list #respond .comment-form-email,
    .comment-list #respond .comment-form-url {
      width: 100%;
      margin-left: 0; }
  .comment-list .comment-body #respond {
    box-shadow: 0 6px 2em rgba(0, 0, 0, 0.2);
    margin-bottom: 2.617924em;
    margin-top: -1.618em; }
  .comment-list .reply {
    clear: both;
    text-align: left; }
  .comment-list ol.children {
    width: 88.2352941176%;
    float: left;
    margin-left: 0;
    list-style: none; }
    .comment-list ol.children .comment-meta {
      width: 20%;
      float: right;
      margin-left: 6.6666666667%; }
    .comment-list ol.children .comment-content,
    .comment-list ol.children #respond {
      width: 73.3333333333%;
      float: left;
      margin-left: 0; }
    .comment-list ol.children ol.children {
      width: 86.6666666667%;
      float: left;
      margin-left: 0; }
      .comment-list ol.children ol.children .comment-meta {
        width: 23.0769230769%;
        float: right;
        margin-left: 7.6923076923%; }
      .comment-list ol.children ol.children .comment-content,
      .comment-list ol.children ol.children #respond {
        width: 69.2307692308%;
        float: left;
        margin-left: 0; }
      .comment-list ol.children ol.children ol.children {
        width: 84.6153846154%;
        float: left;
        margin-left: 0; }
        .comment-list ol.children ol.children ol.children .comment-meta {
          width: 27.2727272727%;
          float: right;
          margin-left: 9.0909090909%; }
        .comment-list ol.children ol.children ol.children .comment-content,
        .comment-list ol.children ol.children ol.children #respond {
          width: 63.6363636364%;
          float: left;
          margin-left: 0; }
        .comment-list ol.children ol.children ol.children ol.children {
          width: 81.8181818182%;
          float: left;
          margin-left: 0; }
          .comment-list ol.children ol.children ol.children ol.children .comment-meta {
            width: 33.3333333333%;
            float: right;
            margin-left: 11.1111111111%; }
          .comment-list ol.children ol.children ol.children ol.children .comment-content,
          .comment-list ol.children ol.children ol.children ol.children #respond {
            width: 55.5555555556%;
            float: left;
            margin-left: 0; }
  #respond {
    padding: 2.617924em; }
    #respond .comment-form-author,
    #respond .comment-form-email,
    #respond .comment-form-url {
      width: 29.4117647059%;
      float: right;
      margin-left: 5.8823529412%; }
    #respond .comment-form-url {
      float: left;
      margin-left: 0; }
    #respond .comment-form-comment {
      clear: both; }
  /**
	 * Content
	 */
  .hentry .entry-header {
    margin-bottom: 2.617924em; }
  /**
	 * Menus
	 *
	 * 1 - We have to use a `left` declaration so that dropdowns are revealed when tabbed.
	 */
  .menu-toggle,
  .handheld-navigation,
  .main-navigation.toggled .handheld-navigation,
  .main-navigation.toggled div.menu {
    display: none; }
  .primary-navigation {
    display: block; }
  .main-navigation,
  .secondary-navigation {
    clear: both;
    display: block;
    width: 100%; }
    .main-navigation ul,
    .secondary-navigation ul {
      list-style: none;
      margin: 0;
      padding-right: 0;
      display: block; }
      .main-navigation ul li,
      .secondary-navigation ul li {
        position: relative;
        display: inline-block;
        text-align: right; }
        .main-navigation ul li a,
        .secondary-navigation ul li a {
          display: block; }
          .main-navigation ul li a::before,
          .secondary-navigation ul li a::before {
            display: none; }
        .main-navigation ul li:hover > ul, .main-navigation ul li.focus > ul,
        .secondary-navigation ul li:hover > ul,
        .secondary-navigation ul li.focus > ul {
          right: 0;
          display: block; }
          .main-navigation ul li:hover > ul li > ul, .main-navigation ul li.focus > ul li > ul,
          .secondary-navigation ul li:hover > ul li > ul,
          .secondary-navigation ul li.focus > ul li > ul {
            right: -9999px;
            /* 1 */ }
            .main-navigation ul li:hover > ul li > ul.sub-menu--is-touch-device, .main-navigation ul li.focus > ul li > ul.sub-menu--is-touch-device,
            .secondary-navigation ul li:hover > ul li > ul.sub-menu--is-touch-device,
            .secondary-navigation ul li.focus > ul li > ul.sub-menu--is-touch-device {
              display: none;
              right: 0; }
          .main-navigation ul li:hover > ul li:hover > ul, .main-navigation ul li:hover > ul li.focus > ul, .main-navigation ul li.focus > ul li:hover > ul, .main-navigation ul li.focus > ul li.focus > ul,
          .secondary-navigation ul li:hover > ul li:hover > ul,
          .secondary-navigation ul li:hover > ul li.focus > ul,
          .secondary-navigation ul li.focus > ul li:hover > ul,
          .secondary-navigation ul li.focus > ul li.focus > ul {
            right: 100%;
            top: 0;
            display: block; }
      .main-navigation ul ul,
      .secondary-navigation ul ul {
        float: right;
        position: absolute;
        top: 100%;
        z-index: 99999;
        right: -9999px;
        /* 1 */ }
        .main-navigation ul ul.sub-menu--is-touch-device,
        .secondary-navigation ul ul.sub-menu--is-touch-device {
          display: none;
          right: 0; }
        .main-navigation ul ul li,
        .secondary-navigation ul ul li {
          display: block; }
          .main-navigation ul ul li a,
          .secondary-navigation ul ul li a {
            width: 200px; }
  ul.menu li.current-menu-item > a {
    color: #43454b; }
  /**
	 * Primary Navigation
	 */
  .storefront-primary-navigation {
    clear: both; }
    .storefront-primary-navigation::before, .storefront-primary-navigation::after {
      content: '';
      display: table; }
    .storefront-primary-navigation::after {
      clear: both; }
  .main-navigation div.menu {
    display: block; }
  .main-navigation ul.menu,
  .main-navigation ul.nav-menu {
    max-height: none;
    overflow: visible;
    margin-right: -1em;
    -webkit-transition: none;
    transition: none; }
    .main-navigation ul.menu > li > a,
    .main-navigation ul.nav-menu > li > a {
      padding: 1.618em 1em; }
    .main-navigation ul.menu > li.menu-item-has-children:hover::after, .main-navigation ul.menu > li.page_item_has_children:hover::after,
    .main-navigation ul.nav-menu > li.menu-item-has-children:hover::after,
    .main-navigation ul.nav-menu > li.page_item_has_children:hover::after {
      display: block; }
    .main-navigation ul.menu ul,
    .main-navigation ul.nav-menu ul {
      margin-right: 0; }
      .main-navigation ul.menu ul li a,
      .main-navigation ul.nav-menu ul li a {
        padding: 0.875em 1.41575em;
        font-weight: 400;
        font-size: 0.875em; }
      .main-navigation ul.menu ul li:last-child,
      .main-navigation ul.nav-menu ul li:last-child {
        border-bottom: 0; }
      .main-navigation ul.menu ul ul,
      .main-navigation ul.nav-menu ul ul {
        margin-right: 0;
        box-shadow: none; }
      .main-navigation ul.menu ul a:hover,
      .main-navigation ul.menu ul li:hover > a,
      .main-navigation ul.menu ul li.focus,
      .main-navigation ul.nav-menu ul a:hover,
      .main-navigation ul.nav-menu ul li:hover > a,
      .main-navigation ul.nav-menu ul li.focus {
        background-color: rgba(0, 0, 0, 0.025); }
  .main-navigation a {
    padding: 0 1em 2.2906835em; }
  /**
	 * Secondary Navigation
	 */
  .secondary-navigation {
    margin: 0 0 1.618em;
    width: auto;
    clear: none;
    line-height: 1; }
    .secondary-navigation .menu {
      font-size: 0.875em;
      width: auto;
      float: left; }
      .secondary-navigation .menu > li:hover > a {
        text-decoration: none; }
      .secondary-navigation .menu ul a {
        padding: 0.326em 0.875em;
        background: rgba(0, 0, 0, 0.05); }
      .secondary-navigation .menu ul li:first-child a {
        padding-top: 1em; }
      .secondary-navigation .menu ul li:last-child a {
        padding-bottom: 1em; }
      .secondary-navigation .menu ul ul {
        margin-top: -0.6180469716em; }
      .secondary-navigation .menu a {
        padding: 1em 0.875em;
        color: #737781;
        font-weight: 400; }
        .secondary-navigation .menu a:hover {
          text-decoration: none; }
  /**
	 * 404 Styles
	 */
  .error404 .fourohfour-columns-2 .col-1 {
    width: 47.8260869565%;
    float: right;
    margin-left: 4.347826087%; }
    .error404 .fourohfour-columns-2 .col-1 ul.products {
      margin-bottom: 0; }
  .error404 .fourohfour-columns-2 .col-2 {
    width: 47.8260869565%;
    float: left;
    margin-left: 0; } }

@media (max-width: 66.4989378333em) {
  .col-full {
    margin-right: 2.617924em;
    margin-left: 2.617924em;
    padding: 0; } }

@media (max-width: 568px) {
  .col-full {
    margin-right: 1.41575em;
    margin-left: 1.41575em;
    padding: 0; } }
