/**
 * Base styles
 */
.editor-block-list__block,
.editor-default-block-appender textarea.editor-default-block-appender__content,
.editor-post-title__block .editor-post-title__input {
  font-family: "Source Sans Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

.editor-block-list__block,
.editor-block-list__block p,
.editor-default-block-appender textarea.editor-default-block-appender__content {
  font-size: 16px;
  line-height: 1.618; }

.editor-post-title__block {
  position: relative;
  margin-bottom: 1em; }
  .editor-post-title__block::after {
    content: none;
    position: absolute;
    top: auto;
    bottom: 0;
    right: 14px;
    left: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
  @media (min-width: 768px) {
    .editor-post-title__block {
      margin-bottom: 2.617924em; } }

.editor-post-title__block .editor-post-title__input {
  clear: both;
  font-weight: 300;
  font-size: 2.617924em;
  line-height: 1.214;
  letter-spacing: -1px; }

h1,
.wp-block-freeform.block-library-rich-text__tinymce h1,
h2,
.wp-block-freeform.block-library-rich-text__tinymce h2,
h3,
.wp-block-freeform.block-library-rich-text__tinymce h3,
h4,
.wp-block-freeform.block-library-rich-text__tinymce h4,
h5,
.wp-block-freeform.block-library-rich-text__tinymce h5,
h6,
.wp-block-freeform.block-library-rich-text__tinymce h6 {
  clear: both;
  font-weight: 300;
  margin: 0 0 0.5407911001em; }

h1,
.wp-block-freeform.block-library-rich-text__tinymce h1 {
  font-size: 2.617924em;
  line-height: 1.214;
  letter-spacing: -1px; }

h2,
.wp-block-freeform.block-library-rich-text__tinymce h2 {
  font-size: 2em;
  line-height: 1.214; }
  h2 + h3,
  .wp-block-freeform.block-library-rich-text__tinymce h2 + h3 {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding-top: 0.5407911001em; }

h3,
.wp-block-freeform.block-library-rich-text__tinymce h3 {
  font-size: 1.618em; }

h4,
.wp-block-freeform.block-library-rich-text__tinymce h4 {
  font-size: 1.41575em; }

p + h2,
p + header h2,
p + h3,
p + h4,
ul + h2,
ul + header h2,
ul + h3,
ul + h4,
ol + h2,
ol + header h2,
ol + h3,
ol + h4,
table + h2,
table + header h2,
table + h3,
table + h4,
blockquote + h2,
blockquote + header h2,
blockquote + h3,
blockquote + h4,
form + h2,
form + header h2,
form + h3,
form + h4 {
  margin-top: 2.2906835em; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin: 0 0 1.41575em; }

p {
  margin: 0 0 1.41575em; }

ul,
ol {
  margin: 0 0 1.41575em 3em;
  padding: 0; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1em; }

dt {
  font-weight: 600; }

dd {
  margin: 0 0 1.618em; }

b,
strong {
  font-weight: 600; }

dfn,
cite,
em,
i {
  font-style: italic; }

blockquote,
.wp-block-freeform.block-library-rich-text__tinymce blockquote {
  margin: 1em 40px;
  padding: 0 1em;
  border-left: 3px solid rgba(0, 0, 0, 0.05);
  font-style: italic;
  box-shadow: none; }

address {
  margin: 0 0 1.41575em; }

pre {
  background: rgba(0, 0, 0, 0.1);
  font-family: 'Courier 10 Pitch', Courier, monospace;
  margin-bottom: 1.618em;
  padding: 1.618em;
  overflow: auto;
  max-width: 100%; }

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0.202em 0.5407911001em; }

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark,
ins {
  text-decoration: none;
  font-weight: 600;
  background: transparent; }

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  bottom: 1ex; }

sub {
  top: 0.5ex; }

small {
  font-size: 75%; }

big {
  font-size: 125%; }

figure {
  margin: 0; }

img {
  height: auto;
  max-width: 100%;
  display: block; }

a {
  text-decoration: none; }

table {
  border-spacing: 0;
  width: 100%;
  border-collapse: separate;
  margin: 0 0 1.41575em; }
  table caption {
    padding: 1em 0;
    font-weight: 600; }
  table td,
  table th {
    padding: 1em 1.41575em;
    text-align: left;
    vertical-align: top;
    border: 0; }
    table td p:last-child,
    table th p:last-child {
      margin-bottom: 0; }
  table th {
    font-weight: 600; }
  table thead th {
    padding: 1.41575em;
    vertical-align: middle; }
  table tbody h2 {
    font-size: 1em;
    letter-spacing: normal;
    font-weight: normal; }
    table tbody h2 a {
      font-weight: normal; }

/**
 * Block styles
 */
.wp-block {
  max-width: 66.4989378333em; }
  .storefront-has-sidebar .wp-block {
    max-width: calc(66.4989378333em * 0.7391304348); }

.wp-block[data-align='wide'] {
  max-width: 75.9987860952em; }

.wp-block[data-align='full'] {
  max-width: none; }

.wp-block-table__cell-content {
  padding: 0; }

ul.wp-block-archives,
.wp-block-categories ul,
ul.wp-block-latest-posts {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  list-style: none; }

.wp-block-separator {
  margin-top: 1.41575em;
  margin-bottom: 1.41575em; }
  .wp-block-separator.is-style-dots::before {
    padding-left: 1em;
    letter-spacing: 1em; }
    .wp-block .wp-block-separator.is-style-dots::before {
      padding-left: 2em;
      letter-spacing: 2em; }
  .wp-block-separator:not(.is-style-dots) {
    height: 2px; }
    .wp-block .wp-block-separator:not(.is-style-dots) {
      height: 1px; }

.wc-block-grid__products .wc-block-grid__product .wp-block-button__link {
  color: #333333; }

.wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-onsale {
  border: 1px solid;
  border-color: #43454b;
  color: #43454b;
  background: transparent;
  padding: 0.202em 0.6180469716em;
  font-size: 0.875em;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 1em;
  border-radius: 3px;
  position: relative; }

.wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-title {
  font-weight: 400;
  font-size: 1rem;
  color: #000000; }
